<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
<application>
        <!--com.google.android.gms.base-->
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!--android.support.v4-->
        <meta-data android:name="android.support.VERSION" android:value="27.1.1"/>
        <!--com.google.firebase.measurement_impl-->
        <receiver android:enabled="true" android:exported="true" android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver" android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <!--com.google.firebase.iid-->
        <service android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <!--com.google.firebase.measurement-->
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <!--com.google.firebase.measurement-->
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <!--com.google.firebase.measurement-->
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver">
        </receiver>
        <!--com.google.firebase-->
        <provider android:authorities="{{android.package}}.firebaseinitprovider" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
    </application>
    <!--com.google.android.gms.measurement.sdk.api-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--com.google.android.gms.measurement.sdk.api-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--com.google.android.gms.measurement.sdk.api-->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!--com.google.firebase.measurement_impl-->
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <!--com.google.firebase.iid-->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
</manifest>